<div class="sidebar-overlay" [class.visible]="isMenuOpen" (click)="toggleMenu()"></div>

<div class="sidebar" [class.is-open]="isMenuOpen">
    <button class="close-btn" (click)="toggleMenu()">✕</button>

    <div>
        <button class="create-btn">+ Create New Post</button>
    </div>

    <nav class="nav-links">
        <a routerLink="/home" routerLinkActive="active" (click)="isMenuOpen = false"><span></span>Home</a>
        <a routerLink="/blog" routerLinkActive="active" (click)="isMenuOpen = false"><span></span>Blog</a>
        <a routerLink="/about" routerLinkActive="active" (click)="isMenuOpen = false"><span></span>Explore</a>
        <a routerLink="/contact" routerLinkActive="active" (click)="isMenuOpen = false"><span></span>Reading List</a>
    </nav>

    <div class="tag-section">
        <h4>EXPLORE TAGS</h4>
        <ul>
            <li><a routerLink="">Apollo</a></li>
            <li><a routerLink="">Design</a></li>
            <li><a routerLink="">Angular</a></li>
            <li><a routerLink="">Platform</a></li>
        </ul>
    </div>
</div>

<button class="hamburger-menu" (click)="toggleMenu()">☰</button>