.layout-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  .content-area {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
}

@media (min-width: 1024px) {
  app-leftsidebar {
    width: 300px;
  }
}
