
<div class="container-fluid header-main">
  <div class="row align-items-center m-0 p-0">

    <div class="col logo-col">
      <a href="/">
        <img class="logo" src="/apollo-logo.png" alt="logo" />
      </a>
    </div>

    <div class="col search-col" *ngIf="isLoggedIn" [class.mobile-active]="showSearch">
      <div class="search-box">
        <i class="bi bi-search search-icon"></i>
        <input 
          class="search-input" 
          type="text" 
          placeholder="Search Posts, topics, or authors"
          (keyup.enter)="onSearch($event)"
          (input)="onInputChange($event)"     
        />
      </div>
    </div>

    <div class="col profile-col">

      <button *ngIf="!isLoggedIn" class="login-btn" (click)="goToLogin()">
        Login
      </button>

      <ng-container *ngIf="isLoggedIn">
        
        <div class="profile-dropdown" *ngIf="user">
          <img [src]="user.image" class="user-img" width="27" height="27" />
          <span class="username">{{ user.firstName }}</span>
        </div>

        <p class="notification">
          <i class="bi bi-bell-fill bell-icon"></i>
          <span class="badge" *ngIf="notificationCount >= 0">
            {{ notificationCount }}
          </span>
        </p>

        <p class="settings" (click)="popup()">
          <i class="bi bi-gear settings-icon"></i>

        <div class="menu-container" [class.desktop-open]="showPopup" [class.mobile-open]="showMenu">

          <div class="menu-header">
            <i class="bi bi-x-lg close-btn" (click)="toggleMenu()"></i>
          </div>

          <ul class="menu-list">
            <li class="menu-item"><a href="/profile">View Profile</a></li>
            <li class="menu-item">Account Settings</li>
            <li class="menu-item"><a href="/my-posts">My Posts</a></li>
            <li class="menu-item"><a href="/create-post">Create New Post</a></li>
            <li class="menu-item logout" (click)="logout()">Logout</li>
          </ul>

        </div>

        <div class="mobile-icons">
          <i class="bi bi-search mb-icons" (click)="toggleSearch()"></i>
          <i class="bi bi-gear mb-icons" (click)="toggleMenu()"></i>
        </div>

      </ng-container>

    </div>
  </div>
</div>