 <div class="container-fluid header-main">
  <div class="row align-items-center m-0 p-0">

    <div class="col logo-col">
      <img
        class="logo"
        src="/apollo-logo.png"
        alt="logo"
      />
    </div>

    <div class="col search-col">
      <div class="search-box">
        <i class="bi bi-search search-icon"></i>
        <input class="search-desktop" type="text" placeholder="Search Posts, topics, or authors" />
      </div>
    </div>

  
    <div class="col profile-col">

      <p class="notification">
        <i class="bi bi-bell-fill bell-icon"></i>
        <span class="badge" *ngIf="a >= 0">{{ a }}</span>
      </p>

      <div class="profile-dropdown">
        <i class="bi bi-person-circle user-icon"></i>
        <span class="username">User</span>
      </div>

      <p class="settings" (click)="popup()">
        <i class="bi bi-gear settings-icon"></i>
      </p>

      <div class="dropdown" [class.show]="showPopup">
        <ul class="unorder-list">
          <li class="list-item">View Profile</li>
          <li class="list-item">Account Settings</li>
          <li class="list-item">My Posts</li>
          <li class="list-item">Create New Post</li>
          <li class="list-item">Logout</li>
        </ul>
      </div>
      
<!-- mobile setup -->

      <div class="mobile-icons">
        <i class="bi bi-search mb-icons" (click)="toggleSearch()"></i>
        <i class="bi bi-gear mb-icons" (click)="toggleMenu()"></i>
      </div>

    </div>
  </div>

  <!-- MOBILE SEARCH -->
  <div class="mobile-search" *ngIf="showSearch">
    <input class="search-mobile" type="text" placeholder="Search Posts, topics, or authors" />
  </div>

</div>

<!-- HAMBURGER -->
<div class="mobile-menu" [class.open]="showMenu">

  <div class="menu-header">
    <i class="bi bi-x-lg close-btn" (click)="toggleMenu()"></i>
  </div>

  <div class="menu-content">

    <div class="menu-item">
      <i class="bi bi-bell"></i>
      Notifications
    </div>

    <div class="menu-item">
      <i class="bi bi-person-circle"></i>
      View Profile
    </div>
    
    <div class="menu-item"><i class="bi bi-gear"></i> Account Settings</div>
    <div class="menu-item"><i class="bi bi-file-earmark-post-fill"></i> My Posts</div>
    <div class="menu-item"><i class="bi bi-plus-circle"></i> Create New Post</div>
    <div class="menu-item logout"><i class="bi bi-box-arrow-left"></i> Logout</div>

  </div>

</div>
