<div class="post-container" *ngIf="post">

  <div class="main">

    <div>
      <h1 class="post-title">{{ post.title }}</h1>

      <div class="post-info">
        <span>{{ post.details.postInfo.published }}</span>
        <span>{{ post.details.postInfo.updated }}</span>
        <span>{{ post.details.postInfo.readTime }} <i class="bi bi-clock"></i></span>
      </div>
    </div>

    <div class="author-meta">
      <div class="main-1">
        <img class="avatar" [src]="post.details.author.avatar" />

        <div class="author-info">
          <a class="author">{{ post.details.author.name }}</a>
          <span class="bio">{{ post.details.author.bio }}</span>
        </div>
      </div>
    </div>

  </div>

  <img class="featured-img" [src]="post.details.featuredImage" />

  <article class="article-body">
    <div *ngFor="let section of post.details.article">
      <h2 class="sub-heading">{{ section.heading }}</h2>
      <p class="sub-para">{{ section.paragraph }}</p>
    </div>
  </article>

  <div class="post-footer">
    <div class="tags">
      <a class="tag" *ngFor="let tag of post.details.tags">
        {{ tag }}
      </a>
    </div>
  </div>

  <hr class="divider" />

  <section class="comments">

    <h3 class="comment-head">
      Comments ({{ post.details.comments.length }})
    </h3>


    <div class="comment-form">
      <textarea
        class="comment-textarea"
        [(ngModel)]="newComment"
        placeholder="Share your thoughts..."
      ></textarea>

      <button class="post-cmt" (click)="addComment()">
        Post Comment
      </button>
    </div>

    <div class="comment" *ngFor="let comment of post.details.comments">

      <img class="avatar" [src]="comment.avatar" />

      <div class="comment-content">

        <div class="meta">
          <strong>{{ comment.user }}</strong>
          <span>{{ getTimeAgo(comment.time) }}</span>
        </div>

        <p>{{ comment.text }}</p>

        <div class="actions">
          <button (click)="toggleReplyBox(comment)">Reply</button>
          <button>
            <i class="bi bi-hand-thumbs-up"></i> {{ comment.likes }}
          </button>
        </div>

     
        <div *ngIf="comment.showReplyBox" class="reply-box">
          <input [(ngModel)]="comment.replyText" placeholder="Write reply..." />
          <button (click)="addReply(comment)">Post</button>
        </div>

        <div class="reply" *ngFor="let reply of comment.replies">

          <img class="avatar" [src]="reply.avatar" />

          <div class="comment-content">

            <div class="meta">
              <strong>{{ reply.user }}</strong>
              <span>{{ getTimeAgo(reply.time) }}</span>
            </div>

            <p>{{ reply.text }}</p>

            <div class="actions">
              <button (click)="toggleReplyBox(reply)">Reply</button>
              <button>
                <i class="bi bi-hand-thumbs-up"></i> {{ reply.likes }}
              </button>
            </div>

           
            <div *ngIf="reply.showReplyBox" class="reply-box">
              <input [(ngModel)]="reply.replyText" placeholder="Write reply..." />
              <button (click)="addReply(reply)">Post</button>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>

</div>