
<div class="main-feed">

  <div class="feed-header">


    <h2 *ngIf="!searchText">
      Welcome, User! Latest Posts
    </h2>

    <h2 *ngIf="searchText && filteredPosts.length > 0">
      Welcome to {{ searchText }} Posts
    </h2>

    <p *ngIf="searchText && filteredPosts.length === 0" class="no-results">
      No posts available for "{{ searchText }}"
    </p>

    <select class="sort-dropdown">
      <option>Sort by: Relevant</option>
      <option>Newest</option>
      <option>Most Popular</option>
    </select>
  </div>

  <div class="posts-list" *ngIf="filteredPosts.length > 0">

    <article class="post-card m-1" *ngFor="let post of paginatedPosts">

      <p class="category">{{post.category}}</p>

      <div class="post-meta">

        <h5 class="post-title">
          <a [routerLink]="['/post', post.id]" class="post-link">
            {{post.title}}
          </a>
        </h5>

        <div class="author-info">
          <img class="avatar" [src]="post.avatar">
          <span>{{post.author}}</span>
          <span>{{post.date}}</span>
          <span>{{post.readTime}} min read</span>
        </div>

      </div>

      <p class="summary">
        {{post.summary}}
      </p>

      <div class="post-footer">

        <div>
          <button class="icon-btn">
            <i class="bi bi-hand-thumbs-up icon"></i> {{post.likes}}
          </button>
          <button class="icon-btn">
            <i class="bi bi-chat icon"></i> {{post.comments}}
          </button>
        </div>

        <div>
          <button class="icon-btn">
            <i class="bi bi-bookmark icon"></i>
          </button>
          <button class="icon-btn">
            <i class="bi bi-share-fill icon"></i>
          </button>
        </div>

      </div>

    </article>

  </div>


  <div class="pagination-controls">

    <button (click)="prevPage()" [disabled]="currentPage === 1">
      Prev
    </button>

    <button *ngFor="let page of getPagesArray(); let i = index" (click)="goToPage(i + 1)"
      [class.active]="currentPage === i + 1">
      {{ i + 1 }}
    </button>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>

  </div>

</div>